.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

rsconnect/
.vscode/settings.json
/.quarto/
**/*.quarto_ipynb

data/*
wc_data/

global_figures_files/*
global_figures_cache/*
plot_fluxnet_files/*
DemoFluxnetFigures_DM_files/*
DemoFluxnetFigures_DM.html
